{% if note.has_key('user') %}
    <div id="sub_column_left" ><a href="/{{note['user']['id']}}/profile"><img src="{{note['user']['avatar']}}" style="width: 48px;height: 48px;" class="img-rounded"></a>
    </div>
    <div id="sub_column_right">
        <h2>{{note['title']}}</h2>
        {{note['content']}}
        {% if flag %}
            <a href="/note/{{note['id']}}" style="text-decoration: none">{{note['created']}}</a>
            <h1 style="border-bottom:solid 1px #ccffff;"></h1>
        {%else%}
            {{note['created']}}
        {% end %}
     </div>
{% else %}
    <h2>{{note['title']}}</h2>
    <p> {{note['content']}}
    {% if flag %}
        <a href="/note/{{note['id']}}" style="text-decoration: none">{{note['created']}}</a>
        <h1 style="border-bottom:solid 1px #ccffff;"></h1>
    {%else%}
        {{note['created']}}
    {% end %}
{% end %}

        




