<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>{{ escape(handler.settings["blog_title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("css/base.css") }}" type="text/css"/>
    <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings["blog_title"]) }}"/>
    {% block head %}{% end %}
  </head>
  <body>

  <div id="container">
        <div id="header">
        <div style="float:right">
          {% if current_user %}
            <a href="/notification">{{ _("Notification") }}</a> -
            <a href="/create">{{ _("New post") }}</a> -
            <a href="/account/logout?next={{ url_escape(request.uri) }}">{{ _("Sign out") }}</a>
          {% else %}
            {{ _('<a href="%(url)s">Sign in</a> to compose/edit') % {"url": "/account/login?next=" + url_escape(request.uri)} }}
          {% end %}
        </div>
        </div>
  <div id="topbar"><h2>2057-给未来的你或是自己</h2>
    <div id="navbar">
        <a href="/">首页</a>
        <a href="/{{current_user['id']}}/profile">Me</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
    <div id="main">
        {% block body %}{% end %}
    <!– Don’t remove spacer div. Solve an issue about container height –>
    <div class="spacer"></div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script>
    (function() {
        var $backToTopTxt = "返回顶部", $backToTopEle = $('<div class="backToTop"></div>').appendTo($("body"))
            .text($backToTopTxt).attr("title", $backToTopTxt).click(function() {
                $("html, body").animate({ scrollTop: 0 }, 120);
        }), $backToTopFun = function() {
            var st = $(document).scrollTop(), winh = $(window).height();
            (st > 0)? $backToTopEle.show(): $backToTopEle.hide();
            //IE6下的定位
            if (!window.XMLHttpRequest) {
                $backToTopEle.css("top", st + winh - 166);
            }
        };
        $(window).bind("scroll", $backToTopFun);
        $(function() { $backToTopFun(); });
    })();
    </script>
    <div id="footer">
        © 1988-2057 Studio,all rights reserved.总会有条路，适合一些人走。
    </div>
   </div>
    {% block bottom %}{% end %}
   </div>
  </body>
</html>