<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>{{ escape(handler.settings["blog_title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("css/base.css") }}" type="text/css"/>
    <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings["blog_title"]) }}"/>
    {% block head %}{% end %}
  </head>
  <body>

  <div id="container">
         <div id="header">
        <div style="float:right">
          {% if current_user %}
            <a href="/create">{{ _("New post") }}</a> -
            <a href="/account/logout?next={{ url_escape(request.uri) }}">{{ _("Sign out") }}</a>
          {% else %}
            {{ _('<a href="%(url)s">Sign in</a> to compose/edit') % {"url": "/account/login?next=" + url_escape(request.uri)} }}
          {% end %}
        </div>
  </div>
  <div id="topbar"><p>2057 文字站</p>
    <div id="navbar">
        <a href="/">首页</a>
        <a href="#">About</a>
        <a href="#">Contact me</a>
    </div>
    <div id="main">
    <div id="column_left">
        {% block body %}{% end %}
    </div>
    <div id="column_right">
        <h3>Let me go.</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;弃我去者，昨日之日不可留；
           乱我心者，今日之日多烦忧。
           长风万里送秋雁⑵，对此可以酣高楼⑶。
          《宣州谢眺楼饯别校书叔云》（黄仲金 书）
           蓬莱文章建安骨⑷，中间小谢又清发⑸。
           俱怀逸兴壮思飞⑹，欲上青天览明月⑺。
           抽刀断水水更流，举杯消愁愁更愁。
           人生在世不称意⑻，明朝散发弄扁舟⑼</p>

    </div>
    <!– Don’t remove spacer div. Solve an issue about container height –>
    <div class="spacer"></div>
    </div>
    <div id="footer">© 1988-2057 Studio,all rights reserved</div>
   </div>
    {% block bottom %}{% end %}
  </body>
</html>