<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <style type="text/css">
        @import "../static/css/base.css";
    </style>
</head>
<body>
<div id="container">
    <div id="topbar">
        <h2>
            2057 Studio|给未来的你或是自己
        </h2>
    </div>
    <!--<div id="navbar">-->
        <!--<a href="login">登录</a>-->
        <!--<a href="register">注册</a>-->
    <!--</div>-->
<div id="main">
<div id="column_left">
    <div id="feed_wrap" class="feedform">
        <form id="form" name="form" method="post" action="">
            {{ xsrf_form_html() }}
            <h1>发表</h1>
            <p>得不到的永远在骚动,被偏爱的有恃无恐.</p>
            <label>Title </label>
            <input type="text" name="title" id="email" />
            <label>Content <span class="small">Min. size 6 chars</span> </label>
            <textarea name="content" rows="24" cols="64"></textarea>
            <button type="submit">发表</button>
            <div class="spacer"></div>
        </form>
    </div>
</div>
<!– Don’t remove spacer div. Solve an issue about container height –>
<div class="spacer"></div>
</div>
    <div id="footer">© 1988-2057 Studio,all rights reserved</div>
</div>
</body>
</html>