{% extends "base.html" %}

{% block body %}
    <div id="column_top">
        <div id="column_top_left">
         <img src="{{owner['avatar']}}" alt="" class="img-polaroid">
          <div id="navigation">
          <ul>
              <li><a href="/{{owner['id']}}/profile" >{{owner['note_count']}}</a></li>
              <li><a href="/{{owner['id']}}/follow">{{owner['friend_count']}}</a></li>
              <li><a href="/{{owner['id']}}/fans">{{owner['fans_count']}}</a></li>
              <li>Notes</li>
              <li>Friends</li>
              <li>Fans</li>
          </ul>
           </div>
        </div>
        <div id="column_top_right">
            <h2>{{owner['nickname']}}</h2>
            {% if owner.has_key('relation_status')%}
            <p>
                {% if owner['relation_status']==1 %}
                互相关注
                {% elif owner['relation_status']==2 %}
                已关注
                {%else%}
                加关注
                {%end%}
            </p>
            {%end%}
            <p style="font-size: 13px;color: #990033;">这应该是一段介绍......介绍很多微笑！</p>
        </div>
    </div>
    <div id="column_down">
        {% if not users%}
            <p>目前还没有粉丝哦。</p>
        {% else %}
            {% for user in users %}
                {{ modules.User(user) }}
            {% end %}
        {% end %}
    </div>
{% end %}