<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <style type="text/css">
        @import "../static/css/base.css";
    </style>
</head>
<body>
<div id="container">
    <div id="navbar"></div>
    <div id="topbar"></div>
    <div id="login_wrap" class="form">
        <form id="form" name="form" method="post" action="/">
            <h1>登陆</h1>
            <p>得不到的永远在骚动,被偏爱的有恃无恐.</p>
            <label>Email <span class="small">Add a valid address</span> </label>
            <input type="text" name="email" id="email" />
            <label>Password <span class="small">Min. size 6 chars</span> </label>
            <input type="password" name="password" id="password" />
            <button type="submit">Login</button>
            <div class="spacer"></div>
        </form>
    </div>
</div>
</body>
</html>