{% extends "sample_base.html" %}
{% block body %}
<div class="article">
    <div id="photos">
        {% for status in statuses%}
        <div class="photo-item">
            <a href="http://weibo.com/{{status['user']['id']}}" target="_blank"><img src="{{status['user']['avatar_large']}}" alt=""></a>
        </div>
        {% end %}
    </div>
    <div class="paginator">
            <span class="prev">
                &lt;前页
            </span>
                <!--<span class="thispage">1</span>-->
                <a href="?p=1&amp;tag=0" >1</a>
                <a href="?p=2&amp;tag=0" >2</a>
                <a href="?p=3&amp;tag=0" >3</a>
                <a href="?p=4&amp;tag=0" >4</a>
                <a href="?p=5&amp;tag=0" >5</a>
                <a href="?p=6&amp;tag=0" >6</a>
                <a href="?p=7&amp;tag=0" >7</a>
                <a href="?p=8&amp;tag=0" >8</a>
                <a href="?p=9&amp;tag=0" >9</a>
                <span class="break">...</span>
            <span class="next">
                <link rel="next" href="?p=2&amp;tag=0"/>
                <a href="?p=2&amp;tag=0" >后页&gt;</a>
            </span>
    </div>

</div>
<div class="side">
    <div class="profile">
    <h4>User Information</h4>
    <p><img src="{{user['avatar']}}" alt="" class="img-polaroid"></p>
    <p>{{user['nickname']}}</p>
    <p>Notes:{{user['note_count']}}|Friends:{{user['friend_count']}}|Fans:{{user['fans_count']}}</p>
    <p>我一直在等，等开始也等结束，等面对也等逃避，等太多也等太少，等时间苍老，等等...唯不等奇迹，不等未来，却时时再等“过去”。</p>

    <h4>Recently Notes.</h4>

    </div>
</div>
{% end %}


