<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>注册2057|给未来的你或是自己</title>
    <style type="text/css">
        @import "../static/css/base.css";
    </style>
</head>
<body>
<div id="container">
    <div style="float:right">
          {% if current_user %}
            <a href="/account/logout">{{ _("Sign out") }}</a> -
          {% else %}
            <a href="/account/register?next={{ url_escape(request.uri) }}">{{ _("Register") }}</a>
            <a href="/account/login?next={{ url_escape(request.uri) }}">{{ _("Login") }}</a>
          {% end %}
    </div>
    <div id="topbar">
        <h2>
            2057 Studio|给未来的你或是自己
        </h2>
    </div>
    <!--<div id="navbar">-->
        <!--<a href="login">登录</a>-->
        <!--<a href="register">注册</a>-->
    <!--</div>-->

<div id="main">
<div id="column_left">
    <div id="login_register_wrap" class="form">
        <form id="form" name="form" method="post" action="">
        {{ xsrf_form_html() }}
        <h1>注册</h1>
        <p>得不到的永远在骚动被偏爱的有恃无恐</p>
        <label>Name <span class="small">Add your name</span> </label>
        <input type="text" name="nickname" id="name" />
        <label>Email <span class="small">Add a valid address</span> </label>
        <input type="text" name="email" id="email" />
        <label>Password <span class="small">Min. size 6 chars</span> </label>
        <input type="password" name="password" id="password" />
        <button type="submit">注册</button>
        <div class="spacer"></div>
      </form>
    </div>
</div>
<!– Don’t remove spacer div. Solve an issue about container height –>
<div class="spacer"></div>
</div>
    <div id="footer">© 1988-2057 Studio,all rights reserved</div>
</div>
</body>
</html>