{% extends "sample_base.html" %}
{% block body %}
<div class="article">
    <form enctype="multipart/form-data" action="" method="post">
        {{ xsrf_form_html() }}
        <input name="nickname" value="{{current_user['nickname']}}"></p>
        <p><img src="{{current_user['avatar']}}" alt="current_user" style="width: 180px;height: 180px"></p>
        <p>File: <input type="file" name="fileupload" /></p>
        <p><input type="radio" name="gender" value="0" checked="checked"/> Male</p>
        <p><input type="radio" name="gender" value="1" /> Female</p>
        <textarea rows="10" cols="50" name="description">{{ current_user['description'] }}</textarea>
        <br />
        <br />
        <input type="submit" value="upload" />
    </form>
</div>
<div class="side">
    
</div>
{% end %}


