{% extends "sample_base.html" %}
{% block body %}
<div class="article">
    <div id="statuses">
        {% for note in notes %}
        <div class="status-item">
            <div class="mod">
                <div class="hd">
                    <a href=""><img src="{{note['user']['avatar']}}" style="width: 48px;height: 48px;"></a>
                </div>
                <div class="bd">
                    <p class="text">
                        <a href="" style="text-decoration: none">{{note['user']['nickname']}}</a>:
                    </p>
                    <div class="description">
                        {{note['content']}}
                    </div>
                    <div class="actions">
                        <span><a href="" style="text-decoration: none">{{note['created']}}</a></span>
                        <a href="" style="text-decoration: none;">收藏</a>
                        <a href="" style="text-decoration: none;">评论</a>
                    </div>
                </div>
            </div>
        </div>
        {% end %}
    </div>
</div>
<div class="side">
    <div class="profile">
    <h4>User Information.</h4>
    <p><img src="{{user['avatar']}}" alt="" class="img-polaroid"></p>
    <p>{{user['nickname']}}</p>
    <p>Notes:{{user['note_count']}}|Friends:{{user['friend_count']}}|Fans:{{user['fans_count']}}</p>
    <p>得不到的永远在骚动,被偏爱的有恃无恐.</p>

    <h4>Recently Notes.</h4>
    <ol style="-webkit-padding-start: 0">
    {% for recent_note in recent_notes %}
        <li >
           <p><a href="/note/{{recent_note['id']}}" style="text-decoration: none">{{recent_note['title']}}</a></p>
        </li>
    {% end %}
    </ol>
    </div>
</div>
{% end %}


