{% extends "base.html" %}

{% block body %}
<div id="column_left">
    {% if not notes%}
        <p>目前还没有Note哦。</p>
    {% else %}
        {% for note in notes %}
        {{ modules.Note(note) }}
        {% end %}
    {% end %}
</div>
<div id="column_right">
    <div id="sub_column_right_top">
    <h3>User Information.</h3>
    <p><img src="{{user['avatar']}}" alt="" class="img-polaroid"></p>
    <p>{{user['nickname']}}</p>
    <p style="color: #0000cc;">Notes:{{user['note_count']}}|Friends:{{user['friend_count']}}|Fans:{{user['fans_count']}}</p>
    <h2>得不到的永远在骚动,被偏爱的有恃无恐.</h2>

    </div>
    <div id="sub_column_right_down">
        <h3>最新文章.</h3>
        <p>1.少有人走的路.</p>
        <p>2.Nothing lasts forever.</p>
        <p>3.Losin' the Love.</p>
        <p>4.君を好きになってしまったんだろう？.</p>
        <p>5.要么庸俗 要么孤独.</p>
    </div>
</div>
{% end %}
