<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>注册2057|给未来的你或是自己</title>
    <style type="text/css">
        @import "../static/css/base.css";
    </style>
</head>
<body>
<div id="container">
<div id="topbar">顶栏/Logo层</div>
<div id="navbar">
    <a href="index.html?home">Home</a>
    <a href="index.html?about">About</a>
    <a href="mailto:myemailaddres@email.com">Contact me</a>
</div>
<div id="main">
<div id="column_left">
    <h1>写给2057年的你或是自己</h1>
    <h2>2057年1月1日</h2>
    <p> 写一个人，用未曾写过风景的心情
        一个如河水清澈般的人
        干净的一塌糊涂
        一成不变的歌声并不曾厌烦
        然而他不是我的偶像，虽然我已没有偶像
        那些曾经，也都只是随便听听
        盲目的追逐那些流行，自以为勉强算是跟得上时尚的节拍
        格格不入堂而皇之的走进来

        我以为有些歌是有些经历才有意的
        我想那些歌手也只是填词人的梦想的间接实现者
        越说越离谱的，离谱到快要自圆其说了
        这种悲哀总是不时地闯进来，猝不及防

        这现实的光鲜，惊艳了几个人的世界
        哎呦，我又看见那些自以为的投入
        虽然也只是我以为
        接着一群乌合之众为之欢呼雀跃
        我想在他们的内心多少会有一点点热爱
        要不那还真是悲哀

        我是一个出尔反尔的人
        原本我要写的也并不只是这些
        我想现在我还不知道怎么去写
        因为过去的那些过去过不去了
        现在的我已经没时间了
        像现在这样在浪费

        很累，林志炫的人和歌都很美
        从过去到现在，或许还可以直到更久
        人们需要先惊艳自己，再去惊艳世界
        可是很多人并不需要惊艳世界
        他们觉得惊艳了自己
        那可怜巴巴的世界何须去惊艳呢
        你说是不？
    </p>
</div>
<div id="column_right">
    <h3>分类</h3>
     右侧内容添加分类或widget (twitter、 我博客的读者等…)
</div>
<div id="column_right_adsense">
    <h3>AdSense</h3>
    Adsense 120 X 600
</div>
<!– Don’t remove spacer div. Solve an issue about container height –>
<div class="spacer"></div>
</div>
<div id="footer">2057 Studio,all rights reserved</div>
</div>
</body>
</html>