{% extends "base.html" %}

{% block body %}
<div id="column_left">
    {% if not notes%}
        <p>目前还没有Note哦。</p>
    {% else %}
        {% for note in notes %}
        {{ modules.Note(note) }}
        {% end %}
    {% end %}
</div>
<div id="column_right">
    <div id="sub_column_right_top">
    <h3>User Information.</h3>
    <p><img src="{{user['avatar']}}" alt="" class="img-polaroid"></p>
    <p>{{user['nickname']}}</p>
    <p style="color: #0000cc;">Notes:{{user['note_count']}}|Friends:{{user['friend_count']}}|Fans:{{user['fans_count']}}</p>
    <h2>得不到的永远在骚动,被偏爱的有恃无恐.</h2>

    </div>
    <div id="sub_column_right_down">
        <p>Recently Notes.</p>
        <ol >
        {% for recent_note in recent_notes %}
            <li>
               <p><a href="/note/{{recent_note['id']}}" style="text-decoration: none">{{recent_note['title']}}</a></p>
            </li>
        {% end %}
        </ol>
    </div>
</div>
{% end %}
